body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #ff69b4;
    font-size: 2em;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button1, .button2 {
    margin: 10px;
}

.button1 button {
    background-color: #4CAF50; /* Green */
}

.button2 button {
    background-color: #f44336; /* Red */
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    button {
        padding: 20px 40px;
        font-size: 1.5em;
    }
}
